body {
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* Utilities */
.btn {
    padding: 7px 16px;
    border-radius: 16px;
    font-size: 12px;
    line-height: 24px;
    font-weight: bold;
    background-color: white;
    color:rgb(35, 39, 42) !important;
}

.btn-dark {
    background-color: #23272a;
    color: white!important;
}

.section-spacing {
    padding: 120px 40px;
    font-size: 20px;
}

.section-spacing p{
    margin-top: 24px;
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* Header */
.main-header {
    height: 500px;
    /* intense violet */
    background-color: rgb(64, 78, 237);
    /* background-color: rgb(88, 101, 242); */
    color: #FFFFFF;
}

/* Navbar */
.main-header .nav {
    padding: 10px 25px;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main-header .nav ul{
    display: flex;
    list-style: none;
}

.main-header .nav li{
    margin: 10px;
    padding: 10px;
    font-weight: bold;
}

.main-header .nav a {
    text-decoration: none;
    color: white;
}

.main-header .hero p{
    text-align: center;
}

/* Hero */
.hero {
    text-align: center;
}

.hero h1 {
    text-transform: uppercase;
    font-size: 2em;
    font-weight: bold;
}

.hero .btn {
    margin: 2em 2em 0 0;
}
